{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{% static '/css/room.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


</head>
<body>
     <header>
            Images Album
            <a href='/'><i class="fa fa-home"></i></a>

    </header>
    <div class="gallery-container">
        <div class="gallery">
            <img src="/static/Images/index/img1.jpg" alt="Room 1" class="gallery-item" >
            <img src="/static/Images/index/img2.jpg" alt="Room 2" class="gallery-item" >
            <img src="/static/Images/index/img3.jpg" alt="Room 3" class="gallery-item" >
            <img src="/static/Images/index/img4.jpg" alt="Room 4" class="gallery-item" >
            <img src="/static/Images/index/img5.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/index/img6.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/index/img7.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/index/img8.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/living/img1.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/living/img2.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/living/img3.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/living/img4.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/living/img5.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/living/img6.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom1/img1.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom1/img2.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom1/img3.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom1/img4.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom1/img5.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom1/img6.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom1/img7.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bathroom1/img1.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bathroom1/img2.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bathroom1/img3.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bathroom1/img4.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bathroom1/img5.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/kitchen/img1.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/kitchen/img2.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/kitchen/img3.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/kitchen/img4.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom2/img1.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom2/img2.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom2/img3.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom2/img4.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom3/img1.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom3/img2.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom3/img3.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom3/img4.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bedroom3/img5.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bathroom2/img1.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/bathroom2/img2.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/terrace/img1.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/terrace/img2.jpg" alt="Room 5" class="gallery-item" >
            <img src="/static/Images/terrace/img3.jpg" alt="Room 5" class="gallery-item" >

        </div>
    </div>


    <section class="contact-owner">
        <h2>Contact Owner:</h2>
        <p>Name: Subramanian L</p>
        <p>Phone: +91 9842321837</p>
        <footer>
            <a href="https://wa.me/9842321837" target="_blank" class="btn btn-success" ><i class="bi bi-whatsapp"></i>Whatsapp</a>
            <a href="tel:+919842321837" class="btn btn-primary"><i class="bi bi-telephone-fill"></i>Call Us</a>

        </footer>
    </section>
</body>
<script>

</script>
</html>
